[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
attrs = "*"
docopt = "*"
matplotlib = "*"
numpy = "*"
opencv-python = "*"
progressbar2 = "*"
scipy = "*"
seaborn = "*"
PyYAML = "*"
"opencv-python-3.2.0-cp36-cp36m-win-amd64.whl" = "*"
